.Yoga{
    max-width: 20rem;
    height: 240px;
}
.Ayurvedic{
    max-width: 20rem;
    height: 240px;
    
}

.Homeopathic{
    max-width: 20rem;
    height: 240px;
}

.Fitness{
    max-width: 20rem;
    height: 240px;
}
.Allopathy{
    max-width: 20rem;
    height: 220px;
}
ion-label{
    color: chocolate;
    
}
ion-content{
    background-color: aquamarine
}



:root {  
    --ion-safe-area-top: 20px;  
    --ion-safe-area-bottom: 22px;  
  }  
  .swiper-slide {  
    display: block;  
  }  
  ion-slide > h2 {  
    margin-top: 2.8rem;  
  }  
  ion-slide > img {  
    max-height: 50%;  
    max-width: 60%;  
    margin: 36px 0;  
  }  

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
   #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
   #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  } 

  /* #customers{table-layout: auto;
  width: 100%; 
  }  */

  #customers{
    table-layout: auto;
  width: 100%; 
  }
  

  /* #home {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: #fff;
    color: #444;
    max-width:  800px;
    border-radius: 5px;
  padding: 20px;
  font-size: 150%;
   
  } */

  