/* .myphoto {
	background-color: #ff0000;
	padding: 10px;
	height: 100px;
	width: 100px;
	border: 30px;
	margin: 100px;
} */
/* .outer-box {
	position: absolute;
	border: 1px solid green;
	width: 600px;
	height: 300px;
	left: 50px;
	padding-top: 20px;
	overflow: auto;
}
*/
/* .myphoto {
	position: relative;
	margin-top: 10px;
	border: 1px solid blue;
	width: 300px;
	height: 2000px;
	left: 40px;
} */

/* .myphoto {
	width: 350px;
	height: 100px;
	left: 40px;
	right: 40px;
	padding: 100px;
	margin: 90px auto;
	font: 100%/1.4 sans-serif;
	text-shadow: 0 1px 1px white;
	text-align: center;
} */
/* .myphoto2 {
	width: 300px;
	height: 100px;
	left: 40px;
	right: 40px;
	padding: 100px;
	margin: 90px auto;
	font: 100%/1.4 sans-serif;
	text-shadow: 0 1px 1px white;
	text-align: center;
	font-size: 50%;
} */
.myphoto {
	position: relative;
	/* border: 1px solid green; */
	border: 1px solid rgb(0, 0, 0);
	width: 300px;
	height: 100px;
	left: 20px;
	margin-top: 50px;
	text-align: center;
}
.myphoto2 {
	position: relative;
	/* border: 1px solid green; */
	border: 1px #000000;
	width: 300px;
	height: 100px;
	left: 20px;
	margin-top: 50px;
	text-align: center;
}
